<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar >     
        <ion-title style="text-transform: capitalize;text-align: center">Job Description List</ion-title> 
        <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
            <ion-searchbar [(ngModel)]="searchData.search_value" (ionInput)="SearchdrecDetail()">
                </ion-searchbar>
        </ion-toolbar>
  </ion-header>
<ion-content> 
    <div class="col-md-12">
        <!-- <div class="row-fluid">
            <div class="col-md-12" style="margin-bottom:3%;"> 
                <div class="navbar-form" role="search">  
                    <ion-searchbar [(ngModel)]="searchData.search_value" (ionInput)="SearchdrecDetail()">
                    </ion-searchbar>   
                </div>
            </div>
        </div> -->
        
        <div class="accordion" id="jobassignment" [ngStyle]="{'display':jobassignmentdepall}">
            <div *ngFor="let item of jobassignmentsearch; index as i;" >
                <ion-item id="headingOne"  *ngIf="item.DESCRIPTION != null" style="background-color:white;" class="btn btn-link blc collapsed"  data-toggle="collapse" [attr.data-target]= "'#' + i"
                aria-expanded="true/false" [attr.aria-controls]="i">
                   <h2>{{item.DESCRIPTION}}</h2>
                </ion-item>
            </div>
        </div>
    </div>
</ion-content>