<ion-header>

  <ion-navbar>
    <ion-title>+ Add Rent Comments </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="agile-login">
    <div class="wrapper">
      <form [formGroup]="rentcommentsForm" (submit)="insertrentComments()">
        <div>
          <div class="w3ls-form">
            <ion-label position="floating" style="color: black;">Add Comments :</ion-label>
            <ion-item>
              <ion-textarea name="COMMENTS" placeholder="Enter any Comments here..."
                [formControl]="rentcommentsForm.controls['COMMENTS']"></ion-textarea>
              <p *ngIf="rentcommentsForm.controls.COMMENTS.errors && rentcommentsForm.controls.COMMENTS.dirty"
                class='error'>Enter Your Comments.</p>
            </ion-item>
            <button ion-button type="submit" style="float: right;" color="secondary"
              [disabled]="!rentcommentsForm.valid">Submit</button>
            <span float-right ion-button icon-left clear class="font-size-12" style="width: 60px; height: 50px;"
              (click)="uploadAudioNewComment()">
              <ion-icon name="mic" style="font-size: 30px; color: #1968f3;"></ion-icon>
            </span>
          </div>
          <ion-input [(ngModel)]="UNIT" *ngFor="let rent of rentdata;" type="hidden" value="{{rent.UNIT}}"
            [formControl]="rentcommentsForm.controls['UNIT']"></ion-input>
          <ion-input [(ngModel)]="CLIENT" *ngFor="let rent of rentdata;" type="hidden" value="{{rent.CLIENT}}"
            [formControl]="rentcommentsForm.controls['CLIENT']"></ion-input>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="agile-login" style="margin-top: inherit;">
    <div class="wrapper">
      <div class="col-md-12 w3ls-form">
        <div class="accordion" id="accordionExample">
          <ion-item class="card" *ngFor="let item of rentcommentsdetails; index as i;" data-parent="#accordionExample">
            <div id="headingComment" style="background-color:white;">
              <p style='white-space: initial;'>{{1 + i}}. {{item.RRC_COMMENTS}}</p><br>
              <p class="danger-clr" style="text-align:right;color:#f53d3d;text-align: right;font-size: 1.2rem;">by
                {{item.USER_SURNAME}} on {{item.RRC_CREATED_DATE |date:'dd-MMM-yyyy,HH:mm a'}}</p>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </div> -->

  <ion-list class="agile-login">
    <ion-list-header>
      <h2>Comments List</h2>
    </ion-list-header>
    <div class="wrapper">
      <div class="col-md-12 w3ls-form">
        <div class="accordion" id="accordionExample">
          <ion-item style="border: unset !important;" *ngFor="let item of rentcommentsdetails; index as i;"
            data-parent="#accordionExample">
            <ion-grid>
              <ion-row>
                <ion-col col-11>
                  <div id="headingComment" style="background-color:white;padding: 10px;">
                    <a role="button" style="white-space: normal;">
                      {{1 + i}}. <span>
                        <span [innerHTML]="item.RRC_COMMENTS"
                          style='white-space: pre-line;font-size: 1.5rem;'></span><br>
                        <span class="danger-clr" style="text-align:right;color:#f53d3d;font-size: 1.3rem;">by
                          {{item.USER_SURNAME}}
                          on {{item.RRC_CREATED_DATE |date:'dd-MMM-yyyy,HH:mm a'}}</span></span>
                    </a>
                  </div>
                </ion-col>
                <ion-col col-1>
                  <span float-right ion-button icon-right clear class="font-size-12" style="width: 60px; height: 50px;"
                    (click)="uploadAudio(i,item)" *ngIf="item.AUDIO_COUNT == 0">
                    <ion-icon name="mic" style="font-size: 30px; color: #1968f3;"></ion-icon>
                  </span>

                  <span float-right ion-button icon-right clear class="font-size-12" style="width: 60px; height: 50px;"
                    (click)="uploadAudio(i,item)" *ngIf="item.AUDIO_COUNT > 0">
                    <ion-icon name="mic" style="font-size: 30px; color: red;"></ion-icon>
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>

</ion-content>