<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="closeModal()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </ion-buttons>
    <ion-title style="text-transform: capitalize;text-align: center" style="font-size: 1.7rem; text-align: center;">
      Add Call Comments </ion-title>
    <ion-buttons right>
      <button ion-button icon-only style="color: #ffffff;">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only style="color: #ffffff;">
        <ion-icon ios="ios-contact" md="md-contact" size="large" name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="agile-login">
    <div class="agile-login">
      <div class="wrapper">
        <form [formGroup]="callcommentsForm" (submit)="insertCallComments()" style="padding: 12px;">
          <div *ngFor="let calllog of call_statusdata">
            <ion-input [(ngModel)]="CALL_LOG_ID" type="hidden" value="{{calllog?.CALL_LOG_ID}}"
              [formControl]="callcommentsForm.controls['CALL_LOG_ID']"></ion-input>
            <ion-input [(ngModel)]="STATUS" type="hidden" value="{{calllog?.STATUS_NAME}}"
              [formControl]="callcommentsForm.controls['STATUS']"></ion-input>
          </div>
          <div class="w3ls-form">
            <ion-label position="floating" style="color: black;">Add Comments :</ion-label>
            <ion-item>
              <ion-textarea name="COMMENTS" placeholder="Enter any Comments here..."
                [formControl]="callcommentsForm.controls['COMMENTS']"></ion-textarea>

              <p *ngIf="callcommentsForm.controls.COMMENTS.errors && callcommentsForm.controls.COMMENTS.dirty"
                class='error'>Enter Your Comments.</p>
            </ion-item>

            <ion-item>
              <ion-label>Select Users</ion-label>
              <ionic-selectable item-content [(ngModel)]="selected" [formControl]="callcommentsForm.controls['user']"
                itemValueField="RESOURCE_ID" itemTextField="EMPNAME" [items]="userlist" [isMultiple]="true"
                [canSearch]="true">
              </ionic-selectable>
            </ion-item>

            <div style="margin-top: 10px;">

              <ion-grid>
                <ion-row>
                  <ion-col>
                    <span>
                      <ion-checkbox name="SMS" [formControl]="callcommentsForm.controls['SMS']"></ion-checkbox>
                    </span><span>Sms</span>
                  </ion-col>
                  <ion-col>
                    <span>
                      <ion-checkbox name="EMAIL" [formControl]="callcommentsForm.controls['EMAIL']"></ion-checkbox>
                    </span><span>Email</span>
                  </ion-col>
                  <ion-col style="margin-bottom: 6px; margin-top: -10px;">
                    <span (click)="uploadAudioNewComment()">
                      <ion-icon name="mic" style="font-size: 30px; color: #1968f3;"></ion-icon>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
          <button ion-button type="submit" style="float: right;width: 100%" color="secondary">Submit</button>
        </form>
      </div>
    </div>
  </ion-card>

  <ion-list class="agile-login">

    <ion-segment [(ngModel)]="pet" (ionChange)="segmentChanged($event)" style="background-color: #679eff;">
      <ion-segment-button value="Comments" style="font-size: 13px; color: #fff;">
        Comments
      </ion-segment-button>
      <ion-segment-button value="Recording" style="font-size: 13px; color: #fff;">
        Voice Recording
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'Comments'">

        <div class="wrapper">
          <div class="col-md-12 w3ls-form">
            <div class="accordion" id="accordionExample">
              <ion-item>
                <ion-label>Show Escalation</ion-label>
                <ion-checkbox color="danger" (click)="showEscalation($event)" [(ngModel)]="ischecked"></ion-checkbox>
              </ion-item>
              <ion-item style="border: unset !important;" *ngFor="let item of callcommentsdetails; index as i;"
                data-parent="#accordionExample">
                <div id="headingComment" style="background-color:white;">
                  <ion-grid style="height: 100px;">
                    <ion-row>
                      <ion-col col-10>
                        <label
                          style="font-size: 12px;white-space: normal; margin-left: 13px;">{{i+1}}.{{item.COMMENTS}}</label>
                        <p class="danger-clr" style="text-align: left; font-size: 11px; margin-left: 13px;">by
                          {{item.CREATED_NAME}} on {{item.CREATED_ON |date:'dd-MMM-yyyy,HH:mm a'}}</p>
                        <span *ngIf="item.AUDIO_COUNT > 0">
                          <button ion-button clear item-end (click)="showAddSourceUndoBtn(i,item)">
                            View Audio<ion-icon style="font-size: x-large;" [name]="passwordIcon"></ion-icon>
                          </button>
                        </span>
                      </ion-col>
                      <ion-col col-2>
                        <span float-right ion-button icon-left clear class="font-size-12"
                          style="width: 60px; height: 50px;" (click)="uploadAudio(i,item)"
                          *ngIf="item.AUDIO_COUNT == 0">
                          <ion-icon name="mic" style="font-size: 30px; color: #1968f3;"></ion-icon>
                        </span>
                        <span float-right ion-button icon-left clear class="font-size-12"
                          style="width: 60px; height: 50px;" (click)="uploadAudio(i,item)" *ngIf="item.AUDIO_COUNT > 0">
                          <ion-icon name="mic" style="font-size: 30px; color: red;"></ion-icon>
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <div [attr.id]="'undoAddSourceBtn'+j" *ngIf="showAddSourceBtn===i">
                    <div class="card-body card-bodynew">
                      <div *ngFor="let audio of audioList; index as i;" style="height: 70px;">
                        <ion-list style="margin: 0px 0 7px !important;">
                          <ion-item-sliding>
                            <ion-item *ngIf="audio.IS_DELETED ==0">
                              <ion-grid>
                                <ion-row style="margin-left: 1px;">
                                  <ion-col col-10>
                                    <span (click)="playAudio(audio.FILE_NAME,audio.FILE_PATH, i)">
                                      <p style="font-size: 12px; color: darkgrey" *ngIf="audio.REP_FILE_NAME != null">
                                        {{audio.REP_FILE_NAME}}  </p>
                                      <p style="font-size: 12px;">{{audio.FILE_NAME}}  <span style="font-size: 16px; color:green; float: right;">{{audio.AUDIO_DURATION}}</span></p>
                                      <p style="color:red; font-size: 12px;">{{audio.RECORDED_BY}}, {{audio.MODIFIED_ON
                                        | date:'dd-MM-yyyy
                                        hh:mm a'}}
                                      </p>
                                    </span>
                                  </ion-col>
                                  <ion-col col-2>
                                    <ion-icon name="undo" style="font-size: 30px;"
                                      *ngIf="audio.CREATED_BY != login_user_id"
                                      (click)="uploadReplyAudio(i,item,audio.ID,audio.CREATED_BY)"></ion-icon>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-item>

                            <ion-item *ngIf="audio.IS_DELETED ==1">
                              <p>This audio is deleted</p>
                              <p style="color:red">{{audio.MODIFIED_BY}}, {{audio.MODIFIED_ON | date:'dd-MM-yyyy hh:mm
                                a'}}
                              </p>
                            </ion-item>

                            <ion-item-options side="left" *ngIf="audio.IS_DELETED ==0">
                              <div>
                                <button ion-button style="font-size: 10px;"
                                  (click)="deleteAudio(audio.ID, audio.COMMENTS_ID, audio.COMMENTS_CHILD_ID)">
                                  <img src="assets/imgs/delete.png" class="icon-btn" style="width: 35px;" /></button>
                              </div>
                            </ion-item-options>
                          </ion-item-sliding>
                        </ion-list>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
        </div>

      </ion-list>

      <ion-list *ngSwitchCase="'Recording'">

        <div class="accordion" id="accordionExample">
          <ion-item style="border: unset !important; height: 126px;" *ngFor="let audio of LpoaudioList; index as i;"
            data-parent="#accordionExample">
            <div id="headingComment" style="background-color:white;">
              <ion-card *ngIf="audio.IS_DELETED ==0">
                <ion-card-header *ngIf="audio.REP_FILE_NAME != null">
                  <p>{{audio.REP_FILE_NAME}}</p>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-10>
                        <span (click)="playAudio(audio.FILE_NAME,audio.FILE_PATH, i)">
                          <p>{{audio.FILE_NAME}}  <span style="font-size: 16px; color:green; float: right;">{{audio.AUDIO_DURATION}}</span></p>
                          <p style="color:red">{{audio.RECORDED_BY}}, {{audio.MODIFIED_ON | date:'dd-MM-yyyy hh:mm a'}}
                          </p>
                        </span>
                      </ion-col>
                      <ion-col col-2 style="text-align: end;">
                        <ion-icon name="undo" style="font-size: 30px;" *ngIf="audio.CREATED_BY != login_user_id"
                          (click)="uploadRecordingTabReplyAudio(i,audio,audio.ID)">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

              <ion-card *ngIf="audio.IS_DELETED ==1">
                <ion-card-content>
                  <p>This audio is deleted</p>
                  <p style="color:red">{{audio.MODIFIED_BY}}, {{audio.MODIFIED_ON | date:'dd-MM-yyyy hh:mm
                    a'}}</p>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-item>
        </div>

      </ion-list>
    </div>
  </ion-list>


  <!-- <ion-list class="agile-login">
    <ion-list-header>
      <h2>Comments List</h2>
    </ion-list-header>
    <div class="wrapper">
      <div class="col-md-12 w3ls-form" style="padding-right: 0px; padding-left: 0px;">
        <div class="accordion" id="accordionExample">
          <ion-item>
            <ion-label>Show Escalation</ion-label>
            <ion-checkbox color="danger" (click)="showEscalation($event)" [(ngModel)]="ischecked"></ion-checkbox>
          </ion-item>
          <ion-item *ngFor="let item of callcommentsdetails; index as i;" data-parent="#accordionExample"
            style="border: unset !important;background-color: transparent;">
            <div id="headingComment">
              <a role="button" style="font-size: 14px;white-space: normal;">
                {{i+1}}.{{ item.COMMENTS}}
              </a><br>
              <span class="danger-clr" style="text-align:right;font-size: 1.2rem;">by {{item.CREATED_NAME}} on
                {{item.CREATED_ON |date:'dd-MMM-yyyy,HH:mm a'}}
              </span>
              <span float-right ion-button icon-left clear class="font-size-12" style="width: 60px; height: 50px;"
                (click)="uploadAudio(i,item)" *ngIf="item.AUDIO_COUNT == 0">
                <ion-icon name="mic" style="font-size: 30px; color: #1968f3;"></ion-icon>
              </span>

              <span float-right ion-button icon-left clear class="font-size-12" style="width: 60px; height: 50px;"
                (click)="uploadAudio(i,item)" *ngIf="item.AUDIO_COUNT > 0">
                <ion-icon name="mic" style="font-size: 30px; color: red;"></ion-icon>
              </span>
            </div>
          </ion-item><br>
        </div>
      </div>
    </div>
  </ion-list> -->


</ion-content>