page-securitybuild {
    .toolbar-background-md{
        border:none;
        background-image: linear-gradient(to right, #2eeb12, #00bb83, #0083a1, #004b7f, #051937) !important;
    }
    .toolbar-background-ios{
        background-image: linear-gradient(to right, #2eeb12, #00bb83, #0083a1, #004b7f, #051937) !important;
    }
}