<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="closeModal()"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </ion-buttons>
        <ion-title style="text-transform: capitalize;text-align: center" style="font-size: 1.7rem; text-align: center;">
            Call Confirmation</ion-title>
        <ion-buttons right>
            <button ion-button icon-only style="color: #ffffff;">
                <ion-icon name="notifications"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-only style="color: #ffffff;">
                <ion-icon ios="ios-contact" md="md-contact" size="large" name="contact"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Search value" name="search_txt" [(ngModel)]="searchData.search_value"
            (ionInput)="SearchcallManagement()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding>

    <div class="col-md-12">
        <div class="accordion" id="accordionExample">
            <div class="card" *ngFor="let item of Callprocurementvalue; index as i;">
                <ion-list style="margin: -6px 0 0px;"
                    *ngIf="item.MGR_ESCLATED_COUNT > 0 || item.CEO_ESCLATED_COUNT > 0; else elsepart; ">
                    <ion-item-sliding>
                        <ion-item id="headingOne" (click)=showUndoBtn(i)>
                            <div>
                                <h2 style="color: red;">{{item.CALL_LOG_ID}} - {{item.CREATED_BY_NAME}}</h2>
                                <p style="color: red;">{{item.ASSIGNEDTO}} - {{item.UNIT}}</p>
                            </div>
                            <button ion-button clear item-end class="btn btn-link blc collapsed" (click)=showUndoBtn(i)>
                                <ion-icon style="font-size: x-large;color: red;" (click)=showUndoBtn(i)
                                    name="arrow-dropdown">
                                </ion-icon>
                            </button>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>
                <ng-template #elsepart>
                    <ion-list style="margin: -6px 0 0px;">
                        <ion-item-sliding>
                            <ion-item id="headingOne" (click)=showUndoBtn(i)>
                                <div>
                                    <h2>{{item.CALL_LOG_ID}} - {{item.CREATED_BY_NAME}}</h2>
                                    <p>{{item.ASSIGNEDTO}} - {{item.UNIT}}</p>
                                </div>
                                <button ion-button clear item-end class="btn btn-link blc collapsed"
                                    (click)=showUndoBtn(i)>
                                    <ion-icon style="font-size: x-large;" (click)=showUndoBtn(i) name="arrow-dropdown">
                                    </ion-icon>
                                </button>
                            </ion-item>
                        </ion-item-sliding>
                    </ion-list>
                </ng-template>
                <div [attr.id]="'undoBtn'+i" *ngIf="showBtn===i">
                    <div class="card-body card-bodynew">
                        <table role="table" class="searchinspection">
                            <thead role="rowgroup">
                                <tr role="row">
                                    <th role="columnheader"> Call No </th>
                                    <th role="columnheader">Requestor Name </th>
                                    <th role="columnheader">Mobile No</th>
                                    <th role="columnheader">Unit Code</th>
                                    <th role="columnheader">Complain list</th>
                                    <th role="columnheader">Previous Comments</th>
                                    <th role="columnheader">Confirmation</th>
                                    <th role="columnheader">Update</th>
                                    <th role="columnheader">Action</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr role="row">
                                    <td role="cell">{{item.CALL_NO}}</td>
                                    <td role="cell">{{item.REQUESTOR_NAME}}</td>
                                    <td role="cell">{{item.MOBILE_NO}}</td>
                                    <td role="cell">{{item.UNIT}}</td>
                                    <td role="cell">{{item.COMPLAINT_LIST}}</td>
                                    <td role="cell">
                                        <table>
                                            <thead>
                                                <th style="font-weight: 400;">CREATED_BY:
                                                    &nbsp;&nbsp;{{item.COMMENTS_CREATED_BY}}</th>
                                                <th style="font-weight: 400;">CREATED_DATE:</th>
                                                <th style="font-weight: 400;">
                                                    {{item.COMMENTS_CREATED_ON |date:'dd-MMM-yyyy,HH:mm a'}}</th>
                                                <th style="font-weight: 400;">Command:</th>
                                                <th style="font-weight: 400;">{{item.COMMENTS}}</th>
                                            </thead>
                                        </table>
                                    </td>
                                    <td role="cell">
                                        <div class="case" *ngIf="item.IS_CONFIRMED == 0 ; else elsepart; ">
                                            <button ion-button color="secondary"
                                                (click)="openModalinspection(item.CALL_LOG_ID,item.STATUS_NAME,item.STATUS_ID)"
                                                style="font-size: small;">
                                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                                            </button>

                                        </div>
                                        <ng-template #elsepart>
                                            <button ion-button [disabled]="true" color="secondary"
                                                style="font-size: small;">
                                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                                            </button>
                                        </ng-template>
                                    </td>
                                    <td role="cell"><button ion-button (click)="openupdateinspection(item)"
                                            color="secondary" style="font-size: small;">
                                            <ion-icon ios="ios-open" md="md-open"></ion-icon>
                                        </button></td>
                                    <td role="cell">
                                        <button ion-button
                                            (click)="openModal(item.CALL_LOG_ID,item.STATUS_NAME,item.REQUESTOR_NAME)"
                                            color="primary">
                                            <!-- <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon> -->
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                        </button>
                                        <button ion-button (click)="openModalLpo(item.CALL_LOG_ID)" color="secondary">
                                            <ion-icon name="cash"></ion-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>