<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle class="navbar_leftbtn">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="navbar_title">Payment Request List </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchData.search_value" (ionInput)="SearchpaymentDetail()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p>Pending For MGR Approval<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.pendingmgrdata ?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.pendingmgramount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Pendnig MGR Approval')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>
  <!--Pending For Leasing MGR Approval-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p>Pending For Leasing MGR Approval<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.pendingleasmgrdata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.pendingleasmgramount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Pendnig Leasing MGR Approval')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>
  <!--Pending For CEO Approval-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p>Pending For CEO Approval<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.pendingceodata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.pendingceoamount | currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Pending CEO Approval')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--Pending For Finance To Release Payment-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p class="card_p">Pending For Finance To Release Payment<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.pendingfinancedata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.pendingfinanceamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Panding For Finance')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--Paid & waiting for Legal To acknowledge received amount-->


  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p class="card_p">Paid & waiting for Legal To acknowledge received amount<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.paiddata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.paidamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Waiting For Legal To Acknowledge')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--Payment Received, waiting for bill submission-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p class="card_p">Payment recieved , waiting for bill submission<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.billsubmissiondata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.billsubmissionamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Waiting For Bill Submission')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--Submitted/Waiting For finance acknowledgement-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p class="card_p">Submitted/Waiting For finance acknowledgement<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.waitforfinancedata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.waitforfinanceamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Waiting For Finance Acknowledgement')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--Payment Request Cash more than 7 days with Legal-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p class="card_p">Payment Request Cash more than 7 days with Legal<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.paymentRequestCash_7daysdata?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.paymentRequestCash_7daysamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Payment Request Cash more than 7 days with Legal')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <!--All Payment Request List-->

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <!-- <h2>Payment Request</h2> -->
      <p>All Payment Request List<ion-badge item-end class="card_p_badge">{{ searchpaymentdetails.all?.length || '0' }}
        </ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <span item-start>
        <ion-badge>{{ searchpaymentdetails.allamount|currency:"AED " }}</ion-badge>
      </span>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'All Payment Request')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <p>Escalation to CEO<ion-badge item-end class="card_p_badge">
          {{ searchpaymentdetails.escalation_to_ceo ?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openDetailModal(type = 'Escalation to CEO')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <ion-card [ngStyle]="{'display':payment_list}">
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <p>Multiple Approval<ion-badge item-end class="card_p_badge">
          {{ multipleapprovepaymentlist?.length || '0' }}</ion-badge>
      </p>
    </ion-item>

    <ion-item>
      <button ion-button icon-start clear item-end class="dash_image" text-center
        (click)="openMultipleApproval(type = 'Pending CEO Approval')">
        <ion-icon name="navigate"></ion-icon>
        View
      </button>
    </ion-item>
  </ion-card>

  <div class="col-md-12" [ngStyle]="{'display':payment_list_show}">
    <div class="accordion" id="service_and_demand_modal" *ngIf="paymentdetailsall">
      <div class="card" *ngFor="let item of paymentdetailsall; index as i;">
        <div class="card-header" id="headingOne" style="background-color:white;">

          <button class="btn btn-link blc collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + i"
            aria-expanded="true/false" [attr.aria-controls]="i">
            {{1 + i}}. {{item.CASE_REQUEST_ID}} - <span style="font-weight: bold;">( {{ item.CLIENT_DESCRIPTION}}
              )</span>
          </button>
        </div>
        <div [attr.id]="i" class="collapse" aria-labelledby="headingOne" data-parent="#allpaymentmodal">
          <div class="card-body card-bodynew">
            <table role="table" class="allpaymentmodal">
              <thead role="rowgroup">
                <tr role="row">
                  <th role="columnheader">Case Request Id.</th>
                  <th role="columnheader">Description</th>
                  <th role="columnheader">Client Description</th>
                  <th role="columnheader">Issued Amount</th>
                  <th role="columnheader">Bill Amount</th>
                  <th role="columnheader">Cash Amount </th>
                  <th role="columnheader">Bal Amount</th>
                  <th role="columnheader">Initial Claim Amount</th>
                  <th role="columnheader">Execution Amt</th>
                  <th role="columnheader">Recovered Amount</th>
                  <th role="columnheader">Type</th>
                  <th role="columnheader">Date</th>
                  <th role="columnheader">Action</th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                <tr role="row">
                  <td role="cell">{{item.CASE_REQUEST_ID}}</td>
                  <td role="cell">{{item.CASE_REQUEST_DESCRIPTION}}</td>
                  <td role="cell">{{item.CLIENT_DESCRIPTION}}</td>
                  <td role="cell">{{item.ISSUED_AMOUNT | currency:"AED "}}</td>
                  <td role="cell">{{item.BILL_AMOUNT | currency:"AED "}}</td>
                  <td role="cell">{{item.CASH_AMOUNT | currency:"AED "}}</td>
                  <td role="cell">{{item.ISSUED_AMOUNT*1 - item.BILL_AMOUNT*1 + item.CASH_AMOUNT*1 | currency:"AED "}}
                  </td>
                  <td role="cell">{{item.CLAIM_AMOUNT | currency:"AED "}}</td>
                  <td role="cell">{{item.EXECUTIONAMT | currency:"AED "}}</td>
                  <td role="cell">{{item.RECOVER_AMOUNT | currency:"AED "}}</td>
                  <td role="cell">{{item.REQUEST_TYPE_DESCRIPTION}}</td>
                  <td role="cell">{{item.CREATED_ON |date:'dd-MMM-yyyy'}}</td>
                  <td role="cell">
                    <button ion-button (click)="openModal(item.CASE_REQUEST_ID)" color="secondary"><i
                        class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    <button ion-button (click)="openpaymentDetailModal(item.CASE_REQUEST_ID,item)" color="secondary"><i
                        class="fa fa-eye" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>