<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar style="background-color:#525b6d">
        <ion-buttons left>             
        </ion-buttons>
        <ion-title style="text-transform: capitalize;text-align: center"> FINANCE </ion-title> 
        <ion-buttons right>
            <button ion-button menuToggle style='width: 100%;margin: 0em;height: 4em'> 
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content padding> 
    <div class="col-md-12">
        <div class="row-fluid">
            <div class="col-md-12" style="margin-bottom:3%;"> 
                <div class="navbar-form" role="search">  
                    <ion-searchbar [(ngModel)]="searchData.search_value" (ionInput)="SearchdrecDetail()">
                    </ion-searchbar>   
                </div>
            </div>
        </div>
        <div class="card" >
            <div class="card-header" id="headingOne"   style="background-color:white;" (click)="show_esculation(type='CEO')">
                Escalation to CEO - ({{financesearch?.length ||'0'}})
            </div>
            <h3 [ngStyle]="{'display':finance_ceo_esculation}">ESCALATION TO CEO</h3>
                <div class="accordion" id="escalation" [ngStyle]="{'display':finance_ceo_esculation}">
                    <div class="card" *ngFor="let item of financesearch; index as i;" >
                        <div class="card-header" id="headingOne"   style="background-color:white;">
                            <a (click)=showUndofinanceceoBtn(i) role="button">
                                {{1 + i}}.  {{item.SEGMENT1}} - {{ item.INVNO }} - {{ item.PROJECT }}
                            </a>         
                        </div>  
                        <div [attr.id]="'undofinanceceoBtn'+i" *ngIf="showfinanceceoBtn===i">                           
                        <div class="card-body card-bodynew">
                            <table role="table" class="financeescalation">
                                <thead role="rowgroup">
                                <tr role="row">
                                    <th role="columnheader">PayReq Id</th>
                                    <th role="columnheader">Invoice No</th>
                                    <th role="columnheader">Project Name</th>
                                    <th role="columnheader">OpUnit</th>
                                    <th role="columnheader">PayTo</th>
                                    <th role="columnheader">Supplier</th>
                                    <th role="columnheader">Total</th>
                                    <th role="columnheader">Submitted By</th>
                                    <th role="columnheader">Submited Date</th>
                                    <th role="columnheader">Pending Days</th>
                                    <th role="columnheader">Created By</th>
                                    <th role="columnheader">Created Date</th>
                                    <th role="columnheader">PayReq Comments</th>
                                </tr>
                                </thead>
                                <tbody role="rowgroup">                
                                <tr role="row">
                                    <td role="cell">{{item.SEGMENT1}}</td>
                                    <td role="cell">{{item.INVNO}}</td>
                                    <td role="cell">{{item.PROJECT }}</td>
                                    <td role="cell">{{item.NAME }}</td>
                                    <td role="cell">{{item.PAYTO }}</td>
                                    <td role="cell">{{item.SUPPLIER }}</td>
                                    <td role="cell">{{item.TOTAL }}</td>
                                    <td role="cell">{{item.USER_NAME }}</td>
                                    <td role="cell">{{item.ACTION_DT}}</td>
                                    <td role="cell">{{item.PENDING_DAYS}}</td>
                                    <td role="cell">{{item.AGENT}}</td>
                                    <td role="cell">{{item.CREATED}}</td>
                                    <td role="cell">{{item.COMMENTS }}</td>                                    
                                    <td role="cell"><button ion-button  (click)="openFinanceCMTSModal(item.SEGMENT1)" color="secondary" ><i class="fa fa-comments" aria-hidden="true"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</ion-content>