page-callinspection {
    .toolbar-background-md{
        border:none;
        background-image: linear-gradient(to right, #2eeb12, #00bb83, #0083a1, #004b7f, #051937) !important;
    }
    .toolbar-background-ios{
        background-image: linear-gradient(to right, #2eeb12, #00bb83, #0083a1, #004b7f, #051937) !important;
    }
    button.btn.btn-link {
        color: #545454;
        font-weight: bold;
    }      
    .add-on .input-group-btn > .btn {
        border-left-width:0;left:-2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
      /* stop the glowing blue shadow */
    .add-on .form-control:focus {
       box-shadow:none;
       -webkit-box-shadow:none; 
       border-color:#cccccc; 
    }
    .form-control{width:20%}
    .navbar-nav > li > a {
        border-right: 1px solid #ddd;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .navbar-nav:last-child{ border-right:0}      
    .sbut{      
        background-color: #73bd43 !important;
        color: #fff !important;
        border-radius: 0px !important;      
        height: 3.6rem;
        font-size: 15px;
    }
    .txt-search{
        height: 3.6rem;
        font-size: 15px;
    }
    .thd{
        line-height: 13px !important;
        font-family: "Roboto", "Helvetica Neue", sans-serif !important;
        font-size: 1.3rem !important;
        color: #7d7d7d;
        font-weight: 500;
    }
    .tbd{
        font-weight: 500 !important;
        color: #505050 !important;
    }
    .txth4{
        color: #4c4c4c;
        font-size: 1.7rem;
    }
    .card-bodynew {     
        line-height: 34px !important;
        font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    }
    .card-body{
        padding: 0px !important;
    }
    .card{
        border: none !important;
    }
    .blc{

        font-size: 1.25rem !important;
        position: relative !important;    
        bottom: 7px !important;
        padding: 0px !important;
    }

    @media only screen and (max-width: 760px), (min-device-width: 768px) 
        and (max-device-width: 1024px)  {      
            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }      
            tr {
                margin: 0 0 1rem 0;
            }
            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }         
            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                height: 100%;
                background-color:#3ddcc8; 
            }
            .blc{

                font-size: 1.25rem !important;
                position: relative !important;    
                bottom: 0px !important;
                padding: 0px !important;
            }  
            /*
            Label the data
            You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
           td:nth-of-type(1):before { content: "Call No  "; }
           td:nth-of-type(2):before { content: "Requestor Name"; }
           td:nth-of-type(3):before { content: "Mobile No"; }
           td:nth-of-type(4):before { content: "Unit Code"; }
           td:nth-of-type(5):before { content: "Complain list"; }
           td:nth-of-type(6):before { content: "Inspection No"; }
           td:nth-of-type(7):before { content: "Note For Supervisor"; }
           td:nth-of-type(8):before { content: "Previous Comments"; }
           td:nth-of-type(9):before { content: "Update"; }
           td:nth-of-type(10):before { content: "Inspection Confirmation"; }
           td:nth-of-type(11):before { content: "Action"; }
        }   

        @media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 268px){
           td:before{
                background-color: #f4f4f4;
                padding-left: 1%;
                margin-left: -6px;
                color: #fff;
            }
        }

        @media only screen and (max-width: 760px){
     
            td {
               border: 1px solid #e2e0e0 !important;
               position: relative !important;
               padding-left: 50% !important;
               height: max-content!important;
               min-height: 6vh !important;
               line-height: 16px !important;
               display: flex !important;
               align-items: center !important;
               font-size: 1.2rem !important;
               overflow-x: scroll !important;
           }
       
          td::before{
               white-space: normal !important;
               display: flex !important;
               align-items: center !important;
               background-color: #735B93 !important;
           }
      
        }
           
 .faicons{
    font-size: 17px;
    float: right;
    margin-top:10px;

 }

}
