<ion-header>

    <ion-navbar>
        <ion-title>Call Procurement Details </ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div class="col-md-12">
        <div class="accordion" id="accordionExample">
            <div class="" data-parent="#accordionExample">
                <ion-grid>
                    <ion-row class="header" style="border-bottom: 1px solid #e9ecef;background-color: #3ddcc8;">
                        <ion-col>
                            CREATED BY
                        </ion-col>
                        <ion-col>
                            CREATED ON
                        </ion-col>
                    </ion-row>
                    <ion-row style="border-bottom: 1px solid #e9ecef;">
                        <ion-col>
                            {{call_create_details.CREATED_BY_NAME}}
                        </ion-col>
                        <ion-col>
                            {{call_create_details.CREATED_ON |date:'dd-MMM-yyyy,HH:mm a'}}
                        </ion-col>
                    </ion-row>
                    <ion-row class="header" style="border-bottom: 1px solid #e9ecef;background-color: #3ddcc8;">
                        <ion-col>
                            S.no
                        </ion-col>
                        <ion-col>
                            Compliant
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of callcomplientsdetails; index as i;"
                        style="border-bottom: 1px solid #e9ecef;">
                        <ion-col>
                            {{i+1}}.
                        </ion-col>
                        <ion-col>
                            {{item.COMPLAINT_DESCRIPTION}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-list style="margin: -6px 0 0px;">
                    <ion-item-sliding>
                        <ion-item id="headingOne" (click)=showUndoBtn(i)>
                            <div>
                                <p>1.Work Order</p>
                            </div>
                            <button ion-button clear item-end class="btn btn-link blc collapsed" (click)=showUndoBtn(i)>
                                <ion-icon style="font-size: x-large;" (click)=showUndoBtn(i) name="arrow-dropdown">
                                </ion-icon>
                            </button>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>

                <div [attr.id]="'undoBtn'+i" *ngIf="showBtn===i">
                    <div class="card-body card-bodynew">
                        <h6 style="margin-top: 10px;">Work Order List</h6>
                        <table role="table" class="searchinspection" style="background-color:white;"
                            *ngFor="let item of Callprocurementworklist; index as i;">
                            <thead role="rowgroup">
                                <tr role="row">
                                    <th role="columnheader">Requestor Name</th>
                                    <th role="columnheader">Unit Code</th>
                                    <th role="columnheader">Call No</th>
                                    <th role="columnheader">Inspection No</th>
                                    <th role="columnheader">WorkOrder No</th>
                                    <th role="columnheader">Requested By</th>
                                    <th role="columnheader">Quotaton Amount</th>
                                    <th role="columnheader">Action</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr role="row">
                                    <td role="cell">{{item.REQUESTOR_NAME}}</td>
                                    <td role="cell">{{item.UNIT}}</td>
                                    <td role="cell">CALL-{{item.CALL_LOG_NO}}</td>
                                    <td role="cell">INSP-{{item.INSPECTION_NO}}</td>
                                    <td role="cell">{{item.MATERIAL_REQ_NO}}</td>
                                    <td role="cell">{{item.REQUESTED_BY_NAME}}</td>
                                    <td role="cell">{{item.TOTAL}}</td>
                                    <td role="cell">
                                        <button ion-button color="secondary"
                                            (click)="confrimpendingwaittingmaterial(item.MATERIAL_REQ_NO)">
                                            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                                        </button>

                                        <button ion-button color="secondary"
                                            (click)="Invetoryinsert(item.MATERIAL_REQ_NO,item.INSPECTION_NO)">
                                            <ion-icon name="add-circle">
                                            </ion-icon>
                                        </button>

                                        <button ion-button color="secondary"
                                            (click)="getimagedataprocurement(item.MATERIAL_REQ_NO)">
                                            <ion-icon name="attach"></ion-icon>
                                        </button>

                                        <button ion-button color="secondary"
                                            (click)="commentsget(Callprocurementworklist.ITEM_ID)">
                                            <ion-icon name="chatbubbles"></ion-icon>
                                        </button>

                                    </td>
                                    <td role="cell">
                                        <button ion-button (click)="complenetdetails(item.MATERIAL_REQ_NO)"
                                            color="secondary">Details</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="backdrop" [ngStyle]="{'display':details}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':details}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandledmaterial()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table role="table" class="search" *ngFor="let item of Callprocurementworklistdetails; index as i;"
                        style="background-color: white">
                        <thead role="rowgroup">
                            <tr role="row">
                                <th role="columnheader">Complaint Name</th>
                                <th role="columnheader">Item Name</th>
                                <th role="columnheader">Item Specification</th>
                                <th role="columnheader">Requested Qty</th>
                                <th role="columnheader">Available Qty</th>
                                <th role="columnheader">Tobe Precure</th>
                                <th role="columnheader">Remark</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row">
                                <td role="cell">{{item.COMPLAINT_NAME}}</td>
                                <td role="cell">{{item.ITEM_NAME}}</td>
                                <td role="cell">{{item.ITEM_SPECIFCATION}}</td>
                                <td role="cell">{{item.REQUESTED_QUANTITY}}</td>
                                <td role="cell">{{item.AVAILABLE_QUANTITY}}</td>
                                <td role="cell">{{item.REQUESTED_QUANTITY + item.AVAILABLE_QUANTITY}}</td>
                                <td role="cell">{{item.REMARKS}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="onCloseHandledmaterial()">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->

    <div class="backdrop" [ngStyle]="{'display':WorkOrder1}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':WorkOrder1}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>ADD STORE</h4>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandle()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="callinventoryininsert" (submit)="insertinventory()">

                    <div class="modal-body">

                        <ion-item>
                            <ion-label>Supplier Namen</ion-label>
                            <ion-input type="text" name="Supplier_name" [(ngModel)]="Supplier_name"
                                style="float: right;" [formControl]="callinventoryininsert.controls['Supplier_name']">
                            </ion-input>
                            <p *ngIf="callinventoryininsert.controls.Supplier_name.errors && callinventoryininsert.controls.Supplier_name.dirty"
                                class='error'>Enter the Supplier Name</p>
                        </ion-item>

                        <ion-item>
                            <ion-label>Mobile no</ion-label>
                            <ion-input type="text" name="Mobile_no" [(ngModel)]="Mobile_no" style="float: right;"
                                [formControl]="callinventoryininsert.controls['Mobile_no']"></ion-input>
                            <p *ngIf="callinventoryininsert.controls.Mobile_no.errors && callinventoryininsert.controls.Mobile_no.dirty"
                                class='error'>Enter the Mobile no</p>
                        </ion-item>

                        <ion-item>
                            <ion-label>LPO Number</ion-label>
                            <ion-input type="text" name="LPO_Number" [(ngModel)]="LPO_Number" style="float: right;"
                                [formControl]="callinventoryininsert.controls['LPO_Number']"></ion-input>
                            <p *ngIf="callinventoryininsert.controls.LPO_Number.errors && callinventoryininsert.controls.LPO_Number.dirty"
                                class='error'>Enter the LPO Number</p>
                        </ion-item>

                        <ion-item>
                            <ion-label>Store</ion-label>
                            <ion-select multiple="true" class="select1"
                                [formControl]="callinventoryininsert.controls['store']">
                                <ion-option value="{{Store.STORE_ID}}" *ngFor="let Store of Storelist">
                                    {{Store.STORE_NAME}}</ion-option>
                            </ion-select>
                            <p *ngIf="callinventoryininsert.controls.store.errors && callinventoryininsert.controls.store.dirty"
                                class='error'>Select STORE.</p>
                        </ion-item>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="onCloseHandle()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->

    <div class="backdrop" [ngStyle]="{'display':comment}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':comment}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>WORK ORDER COMMENTS</h4>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandledcomment()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="calinspectioncommentsForm" (submit)="insertcomments()">

                    <div class="modal-body">

                        <ion-input name="ITEM_ID" type="hidden" value="{{ITEM_IDdata}}"
                            [formControl]="calinspectioncommentsForm.controls['ITEM_ID']"></ion-input>

                        <ion-input name="REF" type="hidden" value="{{'REQ'}}"
                            [formControl]="calinspectioncommentsForm.controls['REF']"></ion-input>

                        <ion-row style="border-bottom:#e6e3e3 1px solid; margin: 5px;"
                            *ngFor="let item of commentlist; index as i;">

                            <ion-textarea name="comments_show" placeholder="comments_show " [(ngModel)]="comments_show"
                                [readonly]="true" style="border: 1px solid;"
                                [formControl]="calinspectioncommentsForm.controls['comments_show']"
                                value="{{item.INVENTORY_COMMENT}}"></ion-textarea>
                        </ion-row>
                        <ion-row>
                            <ion-textarea name="comments" placeholder="Comments " [(ngModel)]="comments"
                                style="border: 1px solid;"
                                [formControl]="calinspectioncommentsForm.controls['comments']"></ion-textarea>
                            <p *ngIf="calinspectioncommentsForm.controls.comments.errors && calinspectioncommentsForm.controls.comments.dirty"
                                class='error'>Enter the Comments</p>
                        </ion-row>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="onCloseHandledcomment()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->

    <div class="backdrop" [ngStyle]="{'display':image_liststyle}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':image_liststyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseimage_list()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center">File List</h3>
                    <ion-card *ngIf=isImageMessageShow>
                        <ion-card-content color=danger>
                            No found
                        </ion-card-content>
                    </ion-card>
                    <ion-card *ngFor="let item of imagelist; index as i;">
                        <button ion-button (click)="getfile(item.ROW_NO,item)" color="secondary">Download</button>
                        <ion-card-content>
                            <ion-card-title>
                                {{item.FILE_NAME}}
                            </ion-card-title>
                            <p>
                                {{item.FILE_TYPE}}
                            </p>
                        </ion-card-content>
                    </ion-card>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="onCloseimage_list()">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->
</ion-content>

<style>
    .row {
        margin-left: 0px !important;
        margin-right: -2px !important;
    }
</style>